* {
  /* border: 1px solid black; */
}

/* Topbar: begin styling */
.topbar {
  background-color: #FF4242;
  color: #F0F2EB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.topbar-contact {
  padding-left: 10px;
}

.topbar-contact svg {
  fill: white;
  height: 20px;
  padding-right: 10px;
}

.topbar-contact svg:hover {
  cursor: pointer;
  fill: #4242ff;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s ease;
}

.topbar-social {
  display: flex;
  justify-content: flex-end;
}

.topbar-social svg {
  fill: white;
  height: 20px;
  padding-right: 10px;
}

.topbar-social svg:hover {
  cursor: pointer;
  fill: #4242ff;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s ease;
}

/* Banner: begin styling */
.banner {
  background: linear-gradient(
   rgba(0,0,0,.5),
   rgba(0,0,0,.5)
   ), url('../assets/img/banner.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 6rem;
}

.banner h1 {
  color: #F0F2EB;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  text-shadow: .1rem .1rem .3rem rgba(0,0,0,.6);
  letter-spacing: .2rem;
}

.banner p {
  color: #F0F2EB;
}

/* About: begin styling */
.about {
  display: flex;
  height: auto;
}

.about-title {
  background-color: #D4EE5E;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.about-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.about-content h3 {
  margin-bottom: 1.5rem;
}

.about-content-tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 3rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.about-content-tech-details {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.about-content-tech-details .category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content-tech-details .category ul {
  /* list-style: none; */
}


/* Work / Portfolio: begin styling */
.work {
  background-color: #E1EDB9;
  height: auto;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(300px, 1fr);
}

.work-grid-item {
  overflow: hidden;
  background-size: cover;
  background-position: left top;
} 

.work-grid-item .details p {
  margin: 0 1rem;
}

.work-grid-item:nth-child(1) {
  background-color: #E1EDB9;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.work-grid-item:nth-child(2) {
  background-image: url('https://raw.githubusercontent.com/brenderbee/free-people-clone/master/src/assets/readme-img/desktop-clone.png');
}

.work-grid-item:nth-child(3) {
  background-image: url('https://raw.githubusercontent.com/brenderbee/stash-clone/master/src/assets/img/readme/clone.png');
} 

.work-grid-item:nth-child(4) {
  background-position: center;
  background-image: url('https://raw.githubusercontent.com/brenderbee/portfolio-v2/master/src/assets/img/simon-says.png');
}

.work-grid-item:nth-child(5) {
  background-image: url('https://raw.githubusercontent.com/brenderbee/portfolio-v2/master/src/assets/img/doctor-lookup.png');
}

.work-grid-item:nth-child(6) {
  background-image: url('https://raw.githubusercontent.com/brenderbee/portfolio-v2/master/src/assets/img/galactic-age.png');
}

.work-grid-item .details-tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-grid-item .details-links {
  display: flex;
  margin-bottom: 1rem;
}

.work-grid-item .details-links a {
  background-color: #FF4242;
  color: #F0F2EB;
  margin: 0;
  padding: 0.5rem;
  text-decoration: none;
}

.work-grid-item .details-links a:hover {
  background-color: #4242ff;
  color: #F0F2EB;
  margin: 0;
  padding: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.work-grid-item .details {
  opacity: 0;
} 

.work-grid-item .details h3, h4 {
margin: 0;
} 

.work-grid-item:hover .details {
  background: rgba(240,242,235);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  opacity: 0.95;
  padding: 3%;
  transition: opacity 0.5s ease;
  z-index: 20;
} 

